<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Employees</h4>
                      <p class="card-category"> Here is a list of employees</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Email
                                  </th>
                                  <th>
                                      Phone Number
                                  </th>
                                  <th>
                                      Salary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let employee of employees; index as index; first as first">
                                      <td>
                                          {{ employee.id }}
                                      </td>
                                      <td>
                                          {{ employee.firstName + " " + employee.lastName }}
                                      </td>
                                      <td>
                                          {{ employee.email }}
                                      </td>
                                      <td>
                                          {{ employee.phoneNumber }}
                                      </td>
                                      <td class="text-primary">
                                          ${{ employee.salary }}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
